extends layout
block content
	div.d-flex.flex-column.align-items-center
		div.d-flex.align-items-center.mb-4.mt-5.justify-content-around
				a(href="/notes").btn.btn-primary.btn-lg.d-block.mr-5
					i.fas.fa-plus.mr-4
					= 'Add note'

		if notes[0]

			h1.text-center.mt-5.font-weight-bold= 'To-do List - Save the most important things in one place'

			div.list-group.flex-row.flex-wrap.align-items-start.w-100.ml-auto.mr-auto

				- var colors = ['bg-sky-blue', 'bg-lime', 'bg-peru', 'bg-slate-blue', 'bg-blue', 'bg-secondary', 'bg-success', 'bg-warning', 'bg-info', 'bg-dark'];

				- for (var x = 0; x < notes.length; x++)

					- var color = colors[Math.floor(Math.random() * (colors.length - 0) + 0)]; // random bg-color for note
					- var id = '/notes/' + notes[x]._id;

					a(href=id class=color).list-group-item.w-25.m-3.text-white

							if notes[x].title

								h4.mb-1.font-weight-bold.h1= notes[x].title

								p.mb-1.h1= notes[x].description
							else
								h4.mb-1.font-weight-bold.h1= 'Untitled'

								p.mb-1.h1= notes[x].description
		else
			p.h1.mt-5= 'Add your first note or list'

